4Ô∏è‚É£ Data Aggregation & Grouping
üìå Summarizing data using grouping & aggregation

In [1]:
import pandas as pd
df=pd.read_csv('weather.csv')

In [ ]:
gp=df.groupby('Weather_Condition')['Temperature_C'].mean()
gp
#groupby() function is used to group the data frame by the columns and return it
#we can also put conditions here.

Weather_Condition
Clear           NaN
Cloudy    10.000000
Rainy     15.000000
Sunny     18.571429
Name: Temperature_C, dtype: float64

In [ ]:
pd.pivot_table(df, index='Weather_Condition', values=['Temperature_C', 'Humidity_%'], aggfunc=['mean', 'max'])
#pivot table is used to analyze data in more structured format

                        mean                      max
                  Humidity_% Temperature_C Humidity_% Temperature_C
Weather_Condition
Clear              51.666667           NaN         55           NaN
Cloudy             70.000000     10.000000         80          15.0
Rainy              60.000000     15.000000         70          22.0
Sunny              56.428571     18.571429         75          30.0

In [ ]:
df['Weather_Condition'].value_counts()
#value_count function is used to count the unique values in the colummn

Weather_Condition
Sunny     7
Rainy     6
Cloudy    4
Clear     3
Name: count, dtype: int64

In [ ]:
pd.crosstab( df['City'],df['Weather_Condition'])
#Crosstab gives us the cross tabulation like a contingency tabel for easy analysis

Weather_Condition  Clear  Cloudy  Rainy  Sunny
City
Chicago                0       0      6      0
Houston                3       0      0      0
Los Angeles            0       0      0      4
New York               0       4      0      0
Phoenix                0       0      0      3