1Ô∏è‚É£ Data Exploration & Inspection
üìå Understanding the structure and summary of data

In [2]:
import pandas as pd
df=pd.read_csv('weather.csv')

In [ ]:
df.head()
#gives us the top 5 rows of the dataset

,Date,Time,City,Temperature_C,Humidity_%,Wind_Speed_kmph,Weather_Condition,Precipitation_mm,Air_Quality_Index,UV_Index,Is_Weekend,Remarks
0,2024-01-01,08:00,New York,5.0,80,10,Cloudy,2.5,45,2,False,Cold
1,2024-01-02,12:00,Los Angeles,12.0,65,15,Sunny,0.0,30,5,False,Warm
2,2024-01-03,16:00,Chicago,8.0,70,20,Rainy,10.0,60,3,False,Wet
3,2024-01-04,20:00,Houston,NaN,55,5,Clear,0.0,25,7,True,Clear Night
4,2024-01-05,23:00,Phoenix,20.0,40,12,Sunny,0.5,70,6,True,Hot

In [5]:
df.tail()
#gives us the bottom 5 rows of the dataset

,Date,Time,City,Temperature_C,Humidity_%,Wind_Speed_kmph,Weather_Condition,Precipitation_mm,Air_Quality_Index,UV_Index,Is_Weekend,Remarks
15,2024-01-06,08:00,New York,15.0,60,14,Cloudy,1.2,50,4,False,Cold
16,2024-01-07,12:00,Los Angeles,18.0,75,11,Sunny,0.0,40,3,False,Warm
17,2024-01-08,16:00,Chicago,22.0,50,9,Rainy,5.0,65,5,False,Wet
18,2024-01-03,16:00,Chicago,8.0,70,20,Rainy,10.0,60,3,False,Wet
19,2024-01-08,16:00,Chicago,22.0,50,9,Rainy,5.0,65,5,False,Wet

In [ ]:
df.info()
#gives us the metadata for the df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               20 non-null     object
 1   Time               20 non-null     object
 2   City               20 non-null     object
 3   Temperature_C      17 non-null     float64
 4   Humidity_%         20 non-null     int64
 5   Wind_Speed_kmph    20 non-null     int64
 6   Weather_Condition  20 non-null     object
 7   Precipitation_mm   20 non-null     float64
 8   Air_Quality_Index  20 non-null     int64
 9   UV_Index           20 non-null     int64
 10  Is_Weekend         20 non-null     bool
 11  Remarks            20 non-null     object
dtypes: bool(1), float64(2), int64(4), object(5)
memory usage: 1.9+ KB

In [ ]:
df.describe()
#provides us with the summary statistics for the numerical column

,Temperature_C,Humidity_%,Wind_Speed_kmph,Precipitation_mm,Air_Quality_Index,UV_Index
count,17.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,15.294118,59.500000,11.800000,2.820000,48.500000,4.300000
std,7.086649,13.755382,4.549147,3.560248,16.148977,1.625455
min,5.000000,35.000000,5.000000,0.000000,20.000000,2.000000
25%,8.000000,50.000000,9.000000,0.000000,37.500000,3.000000
50%,15.000000,60.000000,11.000000,1.200000,50.000000,4.500000
75%,20.000000,70.000000,14.250000,5.000000,61.250000,5.250000
max,30.000000,80.000000,20.000000,10.000000,70.000000,7.000000

In [9]:
df.shape
#gives us the number of rows and columns

(20, 12)

In [10]:
df.dtypes
#checks the data type of each column

Date                  object
Time                  object
City                  object
Temperature_C        float64
Humidity_%             int64
Wind_Speed_kmph        int64
Weather_Condition     object
Precipitation_mm     float64
Air_Quality_Index      int64
UV_Index               int64
Is_Weekend              bool
Remarks               object
dtype: object

In [ ]:
df.columns
#gives us the column names

Index(['Date', 'Time', 'City', 'Temperature_C', 'Humidity_%',
       'Wind_Speed_kmph', 'Weather_Condition', 'Precipitation_mm',
       'Air_Quality_Index', 'UV_Index', 'Is_Weekend', 'Remarks'],
      dtype='object')

In [ ]:
df.index
#gets us the row index

RangeIndex(start=0, stop=20, step=1)

In [18]:
df.sample(5)
#provides the sample of rows randomly

,Date,Time,City,Temperature_C,Humidity_%,Wind_Speed_kmph,Weather_Condition,Precipitation_mm,Air_Quality_Index,UV_Index,Is_Weekend,Remarks
17,2024-01-08,16:00,Chicago,22.0,50,9,Rainy,5.0,65,5,False,Wet
10,2024-01-01,08:00,New York,5.0,80,10,Cloudy,2.5,45,2,False,Cold
15,2024-01-06,08:00,New York,15.0,60,14,Cloudy,1.2,50,4,False,Cold
16,2024-01-07,12:00,Los Angeles,18.0,75,11,Sunny,0.0,40,3,False,Warm
11,2024-01-02,12:00,Los Angeles,12.0,65,15,Sunny,0.0,30,5,False,Warm